body {
  .outer {
    height: 100vh;
    overflow-y: auto;
    .divider {
      height: 5px;
    }
  }
  .outer::-webkit-scrollbar {
    display: none;
  }
  section {
    width: 100vw;
    height: fit-content;
    // display: flex;
    background-color: var(--main-color);
  }
  .contents {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .card {
    width: min(10rem, 100%);
  }
  .card-1 {
    --bg-image: url("./Image/jjunnyjpg.jpg");
  }
  @keyframes shake {
    10% {
      transform: rotate(15deg);
    }
    20% {
      transform: rotate(-15deg);
    }
    30% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-15deg);
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    .contents {
      max-width: 1000px;
    }
  }
}
